

@{
    ViewData["Title"] = "FurloughsHomeb";
    Layout = "~/Views/Shared/_LayoutLogged.cshtml";
}

<div>
    <a asp-action="IndexDisapproved" asp-controller="HolidaysPaidAndUnpaid">Unpaid and paid holidays</a>
    <a asp-action="IndexHospital" asp-controller="Holidays">Hospital holidays</a>
</div>
