@model VacantionManager.Models.Entity.HospitalLeaveModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_LayoutLogged.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <form asp-action="Delete" asp-controller="HolidaysHospital">
        <input type="hidden" asp-for="id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="IndexDisapproved" asp-controller="HolidaysHospital">Back to List</a>
    </form>
</div>
