@model VacantionManager.Models.Entity.LeaveModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutLogged.cshtml";
}



<h4>Create new holiday request</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" asp-controller="HolidaysPaidAndUnpaid">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="startDate" class="control-label"></label>
                <input name="startdate" id="inputDate" type="date" asp-for="startDate" class="form-control" />
                <span asp-validation-for="startDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="endDate" class="control-label"></label>
                <input name="enddate" id="inputDateEnd" type="date" asp-for="endDate" class="form-control" />
                <span asp-validation-for="endDate" class="text-danger"></span>
            </div>
            <div >
                <p style="display:inline;">Is the holiday paid:</p> <input type="checkbox" asp-for="isPaid" />
            </div>
            <div >
                <p style="display:inline;">Half day holiday:</p> <input type="checkbox" asp-for="halfDay" />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script>
        function mindate(input) {
        var today = new Date();
        var dd = today.getDate() + 1;
        var mm = today.getMonth() + 1; //January is 0!
        var yyyy = today.getFullYear();
        if (dd < 10) {
            dd = '0' + dd
        }
        if (mm < 10) {
            mm = '0' + mm
        }

        startdate = yyyy + '-' + mm + '-' + dd;
        document.getElementById(input).setAttribute("min", startdate);
    }

    window.onload = mindate("inputDate");
    window.onload = mindate("inputDateEnd");

    $("input[name='startdate']").change(function () {
        $("input[name='enddate']").attr({
            "min": ($(this).val())       
        });
    })

    $("input[name='enddate']").change(function () {
        $("input[name='startdate']").attr({
            "max": ($(this).val())
        });
    })
</script>
<div>
    <a asp-action="IndexDisapproved" asp-controller="HolidaysPaidAndUnpaid">Back to List</a>
</div>

