@model VacantionManager.Models.Entity.UserModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutLogged.cshtml";
}
<script>
    function showPass(input) {
        var x = document.getElementById(input);
        if (x.type === "password") {
            x.type = "text";
        } else {
            x.type = "password";
        }
    }

    function getValue(input) {
        var x1 = document.getElementById(input.shift());
        var x2 = document.getElementById(input.shift());

        x2.value = x1.value;
    }

</script>

<h1>Create</h1>

<h4>User</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="username" class="control-label"></label>
                <input asp-for="username" class="form-control" />
                <span asp-validation-for="username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="firstName" class="control-label"></label>
                <input asp-for="firstName" class="form-control" />
                <span asp-validation-for="firstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="lastName" class="control-label"></label>
                <input asp-for="lastName" class="form-control" />
                <span asp-validation-for="lastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="password" class="control-label"></label>
                <input id="PasswordTb" type="password" asp-for="password" class="form-control" />
                <input id="confirmPasswordTb" type="hidden" asp-for="confirmPassword" class="form-control" />
                <span asp-validation-for="password" class="text-danger"></span>
                <div><input type="checkbox" onclick=showPass("PasswordTb")>Show Password</div>
            </div>
            <div class="form-group">
                <input onclick=getValue(["PasswordTb","confirmPasswordTb"]) type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

